.form_botoes {
    /* largura maxima dos radio buttons na tela */
    width: 100%;
}

.form_botoes div {
    /* posicionamento dos radio buttons na tela. */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form_botoes_input {
    /* desabilita a formatação padrão do radio button */
    display: none;
}

.form_botoes_label {
    /* estilização do label do radio button */
    display: block;
    margin-right: 60px;
    margin-bottom: 55px;
    cursor: pointer;
}

.form_radio_button {
    /* estilização do radio button no estado inicial da page */
    height: 55px;
    width: 55px;
    background-color: hsl(216deg, 12%, 54%);
    border-radius: 100%;
    
    position: absolute;
    transition: background-color 0.3s;
}

.form_radio_button::after {
    /* estilização do rádio button após ações no botão */
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(216deg, 12%, 54%);
    opacity: 0;
    transition: opacity 0.3s;
}

.form_radio_button div {
    /* centraliza o conteudo da div no meio do radio button e estilização */
    position: absolute;
    top: 30%;
    left: 22px;
    transform: translate (-50%, -50%);
    
    font-size: 20px;
    color: hsl(0deg, 0%, 100%);
    font-weight: 400;
}

.form_radio_button:hover {
    /* estilização do radio buttons quando o ponteiro do mouse passa sobre o button */
    background-color: hsl(25deg, 97%, 53%);
}

/* .form_radio_button:checked ~ .form_botoes_label .form_radio_button::after {
    opacity: 1;
} */